@font-face {
	font-family: 'DINCyr';
	src: url('../fonts/dincyr-regular.eot');
	src: url('../fonts/dincyr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dincyr-regular.woff') format('woff'),
	url('../fonts/dincyr-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LightAlternate';
	src: url('../fonts/DIN LightAlternate Regular.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	background-image: url("../images/bg-body.jpg");
}

a {
	color: #707070;
}

.wrapper {
	width: 1000px;
	height: auto;
	min-height: 100%;
	margin: 0 auto;
}

/*==============================header===============================*/

.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	box-sizing: border-box;
	margin-bottom: 100px;
}

.page-header img {
	display: block;
	width: 100px;
	height: auto;
}

.page-header .phone {
	display: block;
	font-family: 'LightAlternate', 'Arial', sans-serif;
	color: #707070;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	text-decoration: none;
}

.page-header .phone .code-phone {
	display: block;
	font-size: 30px;
}

/*==============================header===============================*/